<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/header.css" />
    <link rel="stylesheet" href="../../static/css/footer.css" />
    <link rel="stylesheet" href="../../static/cases/cases.css" />
    <link rel="stylesheet" href="../../static/css/first_page_4.css" />
    <link rel="stylesheet" href="../../static/css/first_page_2.css" />
    <link rel="stylesheet" href="../../static/css/first_page.css" />
    <script src="https://main.bothelp.io/w/widget-button.js" defer></script>
    <title>Кейсы</title>
  </head>
  <body>
    <header id="header">
      <div class="header-content">
        <div>
          <img src="../../static/images/sd.png" alt="SD Company" />
        </div>
        <nav>
          <ul>
            <li><a href="../../index.html">Главная</a></li>
            <li><a href="../cases/cases.html">Кейсы и портфолио</a></li>
            <li><a href="../teem/teem.html">Команда</a></li>
            <li><a href="../contacts/contacts.html">Контакты</a></li>
            <li class="dropdown">
              <a href="#">Услуги ▼</a>
              <ul class="dropdown-menu">
                <li><a href="../services/targer.html">Таргет</a></li>
                <li><a href="../services/marketing.html">Маркетинг</a></li>
                <li><a href="../services/smm.html">SMM</a></li>
                <li><a href="../services/site.html">Создание сайтов</a></li>
                <li><a href="../services/tg_bot.html">Создание тг ботов</a></li>
                <li><a href="../services/individual.html">Индивидуальный заказ</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- Бургер-кнопка -->
    <div class="burger-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- Мобильное меню -->
    <nav class="mobile-nav">
      <ul>
        <li><a href="../../index.html">Главная</a></li>
        <li><a href="../cases/cases.html">Кейсы и портфолио</a></li>
        <li><a href="../teem/teem.html">Команда</a></li>
        <li><a href="../contacts/contacts.html">Контакты</a></li>

        <li><a href="../services/targer.html">Таргет</a></li>
        <li><a href="../services/marketing.html">Маркетинг</a></li>
        <li><a href="../services/smm.html">SMM</a></li>
        <li><a href="../services/site.html">Создание сайтов</a></li>
        <li><a href="../services/tg_bot.html">Создание тг ботов</a></li>
        <li><a href="../services/individual.html">Индивидуальный заказ</a></li>
      </ul>
    </nav>
    <div class="tabs-section fade-in-2">

    <div style="margin-top: 20px;" class="main_content " id="main_content">
        <h2 class="fade-in-2">Кейсы Инстаграмм</h2>
      </div>
      <div class="all">
        <div class="container">

            <div class="card card6 fade-in-2">
              <img src="../../static/images_cases/case_1.jpg" alt="Кейс 6">
              <div class="card-content">
                <h2 style="font-size: 24px; text-align: left;">Проект: Ведический астролог</h2>
                <h3>Что сделали:</h3>
                <ul>
                    <li>Создали уникальный и эстетичный профиль в соцсетях.</li>
                    <li>Разработали контент-стратегию для привлечения целевой аудитории.</li>
                    <li>Оформили актуальные сторис с услугами, отзывами и разбором карт.</li>
                    <li>Настроили таргетированную рекламу для увеличения числа клиентов.</li>
                </ul>
                <h3>Результаты:</h3>
                <ul>
                    <li>Рост числа консультаций и заказов на разбор карт.</li>
                    <li>Повышение доверия аудитории благодаря профессиональному контенту.</li>
                    <li>Увеличение охвата и вовлеченности в соцсетях.</li>
                </ul>              </div>
          </div>
            <div class="card card10 fade-in-2">
              <img src="../../static/images_cases/case_16.jpg" alt="Кейс 8">
                <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Онлайн-бизнес</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                    <li>Создали профессиональный и узнаваемый профиль в социальных сетях.</li>
                    <li>Разработали фирменный стиль и визуальную концепцию для повышения доверия.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                    <li>Рост продаж цифровых продуктов и онлайн-услуг.</li>
                    <li>Увеличение охвата и вовлечённости через экспертный контент и интерактивы.</li>
                    <li>Формирование лояльного сообщества и постоянной аудитории.</li>
                  </ul>
                </div>
            </div>
            <div class="card card9 fade-in-2">
              <img src="../../static/images_cases/case_15.jpg" alt="Кейс 7">
                <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: ТурАгенство</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                    <li>Создали привлекательный и информативный профиль в социальных сетях.</li>
                    <li>Разработали визуальную концепцию с акцентом на эмоции и впечатления от путешествий.</li>
                    <li>Подготовили контент-стратегию с публикацией уникальных направлений и выгодных предложений.</li>
                    <li>Настроили таргетированную рекламу для привлечения любителей путешествий.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                    <li>Рост бронирований туров и авиаперелётов.</li>
                    <li>Увеличение вовлечённости благодаря отзывам, конкурсам и интерактивам.</li>
                    <li>Укрепление доверия через демонстрацию реальных отзывов и успешных поездок.</li>
                  </ul>
                </div>
            </div>
            <div class="card card13 fade-in-2">
              <img src="../../static/images_cases/case_19.jpg" alt="Кейс 1">
              <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Частная школа – Оформление шапки профиля</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Разработали уникальное описание профиля (bio) с УТП.</li>
                      <li>Создали привлекательный аватар с логотипом школы.</li>
                      <li>Оформили иконки актуального (программы, отзывы, контакты).</li>
                      <li>Настроили ссылки и контакты для удобного взаимодействия.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Рост доверия и узнаваемости школы.</li>
                      <li>Увеличение количества обращений и заявок.</li>
                      <li>Упрощение коммуникации с родителями.</li>
                  </ul>                
              </div>
            </div>
            <div class="card card14 fade-in-2">
              <img src="../../static/images_cases/case_20.jpg" alt="Кейс 1">
              <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Студия дизайна интерьера – Оформление шапки профиля</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Разработали продающее описание профиля (bio) с ключевыми услугами.</li>
                      <li>Создали стильный аватар с логотипом студии.</li>
                      <li>Оформили иконки актуального (портфолио, услуги, отзывы, контакты).</li>
                      <li>Настроили ссылки для удобной связи с клиентами.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Усиление бренда и профессионального имиджа студии.</li>
                      <li>Рост заявок на консультации и дизайн-проекты.</li>
                      <li>Упрощение взаимодействия с потенциальными клиентами.</li>
                  </ul>                
              </div>
            </div>
            
            <div class="card card15 fade-in-2">
              <img src="../../static/images_cases/case_21.jpg" alt="Кейс 1">
              <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Частная школа – Контент для соцсетей</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Разработали контент-стратегию с учетом интересов родителей и учеников.</li>
                      <li>Создали серию постов о преимуществах обучения, методиках и атмосфере в школе.</li>
                      <li>Подготовили визуальный контент: фотографии уроков, мероприятий и отзывов родителей.</li>
                      <li>Добавили экспертные посты от учителей для повышения доверия.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Рост вовлеченности и подписок в социальных сетях.</li>
                      <li>Увеличение запросов на пробные занятия и экскурсии.</li>
                      <li>Повышение доверия к школе через качественный и полезный контент.</li>
                  </ul>                
              </div>
            </div>
            <div class="card card16 fade-in-2">
              <img src="../../static/images_cases/case_22.jpg" alt="Кейс 1">
              <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Оформление шапки профиля для гинеколога</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Разработали лаконичное и информативное описание профиля (bio) с УТП.</li>
                      <li>Создали профессиональный аватар (логотип или фото специалиста).</li>
                      <li>Оформили иконки для актуальных сторис (услуги, отзывы, ответы на вопросы).</li>
                      <li>Настроили кликабельные ссылки для удобства записи на приём.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Повышение доверия к специалисту благодаря профессиональному оформлению.</li>
                      <li>Рост количества заявок через удобные ссылки и понятную навигацию.</li>
                      <li>Упрощение взаимодействия с пациентами через актуальные сторис.</li>
                  </ul>                
              </div>
            </div>
            
            <div class="card card17 fade-in-2">
              <img src="../../static/images_cases/case_23.jpg" alt="Кейс 1">
              <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Дизайн иконок для актуальных сторис</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Разработали стильные иконки в фирменных цветах бренда.</li>
                      <li>Создали минималистичный, но выразительный дизайн.</li>
                      <li>Подобрали понятные визуальные символы для каждого раздела (услуги, отзывы, контакты и др.).</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Упрощение навигации по профилю для пользователей.</li>
                      <li>Повышение визуальной привлекательности страницы.</li>
                      <li>Единый стиль, который усиливает узнаваемость бренда.</li>
                  </ul>                
              </div>
            </div>
            
            <div class="card card18 fade-in-2">
              <img src="../../static/images_cases/case_24.jpg" alt="Кейс 1">
              <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Косметология</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Разработали стильное и эстетичное визуальное оформление аккаунта.</li>
                      <li>Создали единую цветовую гамму, гармонирующую с брендом.</li>
                      <li>Составили контент-стратегию: информативные посты, отзывы, кейсы, прогревы.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Рост доверия к клинике и специалистам.</li>
                      <li>Повышение конверсии в записи на процедуры.</li>
                      <li>Увеличение активности и вовлечённости подписчиков.</li>
                  </ul>                
              </div>
            </div>
            <div class="card card19 fade-in-2">
              <img src="../../static/images_cases/case_25.jpg" alt="Кейс: Дизайн интерьера">
              <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Дизайн интерьера (Астана)</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Разработали лаконичное и информативное описание профиля (bio).</li>
                      <li>Создали премиальный аватар с логотипом студии.</li>
                      <li>Оформили иконки актуальных сторис в едином стиле.</li>
                      <li>Настроили контакты и удобные ссылки для заявок.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Рост доверия к бренду благодаря профессиональному оформлению.</li>
                      <li>Упрощение навигации и удобство для клиентов.</li>
                      <li>Увеличение числа заявок и обращений.</li>
                  </ul>                
              </div>
            </div>
            
            <div class="card card20 fade-in-2">
              <img src="../../static/images_cases/case_26.jpg" alt="Кейс: Посты для дизайна интерьера">
              <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Дизайн интерьера (Астана)</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Разработали контент-стратегию для привлечения целевой аудитории.</li>
                      <li>Создали стильные и информативные посты с акцентом на визуальную подачу.</li>
                      <li>Подготовили рубрики: «Наши проекты», «Советы по интерьеру», «Разбор стилей», «До/После».</li>
                      <li>Сделали качественные визуалы, соответствующие бренду.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Рост вовлеченности в публикации и увеличение комментариев.</li>
                      <li>Повышение интереса к услугам благодаря экспертному контенту.</li>
                      <li>Приток новых подписчиков через репосты и рекомендации.</li>
                  </ul>                
              </div>
            </div>
            <div class="card card21 fade-in-2">
              <img src="../../static/images_cases/case_27.jpg" alt="Кейс: Посты для ресторана">
              <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Ресторан</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Разработали контент-стратегию для привлечения гостей.</li>
                      <li>Создали стильные и аппетитные посты с акцентом на блюда.</li>
                      <li>Сделали профессиональные фото и видео блюд для соцсетей.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Рост числа бронирований и заказов через соцсети.</li>
                      <li>Увеличение вовлеченности за счет интерактивного контента (опросы, сторис, игры).</li>
                  </ul>                
              </div>
            </div>
            <div class="card card22 fade-in-2">
              <img src="../../static/images_cases/case_28.jpg" alt="Кейс: Шапка профиля ресторана ARARAT">
              <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Ресторан "ARARAT"</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Разработали уникальное и привлекательное описание профиля.</li>
                      <li>Добавили УТП: авторская кухня, уютная атмосфера, доставка.</li>
                      <li>Создали стильный аватар с логотипом ресторана.</li>
                      <li>Оформили иконки актуальных сторис с категориями: «Меню», «Отзывы», «Доставка», «Акции», «Сайт».</li>
                      <li>Настроили удобные ссылки на бронирование столика и доставку.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Повышение доверия и статуса ресторана в соцсетях.</li>
                      <li>Увеличение бронирований и заказов через профиль.</li>
                      <li>Рост вовлеченности и активности подписчиков.</li>
                  </ul>                
              </div>
            </div>
            
            <div class="card card23 fade-in-2">
              <img src="../../static/images_cases/case_29.jpg" alt="Кейс: Шапка профиля мебельного магазина">
              <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Мебельный магазин</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Разработали лаконичное и привлекательное описание профиля.</li>
                      <li>Добавили УТП: индивидуальный дизайн, производство на заказ, доставка по городу.</li>
                      <li>Настроили удобные ссылки на каталог и мессенджеры для заказов.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Увеличение числа заказов благодаря удобной навигации в профиле.</li>
                      <li>Рост вовлеченности подписчиков и увеличение охвата.</li>
                  </ul>                
              </div>
            </div>
            
            <div class="card card24 fade-in-2">
              <img src="../../static/images_cases/case_30.jpg" alt="Кейс: Посты для мебельного салона AFANNU">
              <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Мебельный салон AFANNU</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Разработали контент-стратегию с акцентом на премиальное качество и дизайн.</li>
                      <li>Создали визуально привлекательные посты с фото и видео мебели.</li>
                      <li>Написали тексты, раскрывающие особенности материалов, эргономику и стилистику.</li>
                      <li>Добавили вовлекающий контент: опросы, тесты на выбор дизайна, советы по интерьеру.</li>
                      <li>Сняли видео-обзоры на новинки и реальный процесс производства.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Увеличение числа заявок через соцсети.</li>
                      <li>Повышение лояльности аудитории и доверия к бренду.</li>
                  </ul>                
              </div>
            </div>
            
            <div class="card card25 fade-in-2">
              <img src="../../static/images_cases/case_31.jpg" alt="Кейс: Шапка профиля мебельного салона AFANNU">
              <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Оформление шапки профиля для мебельного салона AFANNU</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Разработали уникальное описание (bio) с акцентом на качество и эксклюзивность.</li>
                      <li>Добавили четкий оффер: мебель премиум-класса на заказ.</li>
                      <li>Создали фирменный стиль оформления (аватар, иконки актуального).</li>
                      <li>Настроили ссылки на каталог и мессенджеры для удобной связи.</li>
                      <li>Оптимизировали контактную информацию и геолокацию.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Увеличение переходов на сайт и мессенджеры.</li>
                      <li>Более привлекательный и профессиональный внешний вид профиля.</li>
                  </ul>                
              </div>
            </div>
            <div class="card card26 fade-in-2">
              <img src="../../static/images_cases/case_32.jpg" alt="Кейс: Шапка профиля для свечей на заказ">
              <div class="card-content">
                <h2 style="font-size: 24px; text-align: left;">Проект: Контент для бренда свечей</h2>
                <h3>Что сделали:</h3>
                <ul>
                    <li>Разработали контент-стратегию, направленную на эстетику и уют.</li>
                    <li>Создали серию постов с описанием состава и преимуществ свечей.</li>
                    <li>Подготовили атмосферные фото и видео-контент с процессом создания.</li>
                    <li>Написали вовлекающие посты о значении ароматов и их влиянии на настроение.</li>
                    <li>Разработали рубрики: «История бренда», «Как ухаживать за свечами», «Идеи подарков».</li>
                </ul>
                <h3>Результаты:</h3>
                <ul>
                    <li>Рост вовлеченности в соцсетях</li>
                    <li>Создание лояльного сообщества и увеличение повторных покупок.</li>
                </ul>                              
              </div>
            </div>
            
            
            <div class="card card1 fade-in-2">
              <img src="../../static/images_cases/case_6.jpg" alt="Кейс 1">
              <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: GazWay – Газификация под ключ</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Оформили стильный профиль в соцсетях.</li>
                      <li>Разработали контент-стратегию.</li>
                      <li>Создали актуальные сторис и кейсы.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Рост вовлеченности и заявок.</li>
                      <li>Укрепление имиджа компании.</li>
                  </ul>                </div>
          </div>




            <div class="card card2 fade-in-2">
              <img src="../../static/images_cases/case_5.jpg" alt="Кейс 2">
              <div class="card-content">
                <h2 style="font-size: 24px; text-align: left;">Проект: Oknatech – Установка и ремонт окон</h2>
                <h3>Что сделали:</h3>
                <ul>
                  <li>Оформили профессиональный профиль в соцсетях.</li>
                  <li>Разработали стратегию контента для привлечения клиентов.</li>
                  <li>Создали актуальные сторис с ключевой информацией.</li>
                  <li>Подготовили кейсы и отзывы для повышения доверия.</li>
              </ul>
              <h3>Результаты:</h3>
              <ul>
                  <li>Увеличение вовлеченности и числа заявок.</li>
                  <li>Повышение доверия к бренду.</li>
                  <li>Усиление имиджа компании.</li>
              </ul>               </div>
          </div>

            <div class="card card4 fade-in-2">
                <img src="../../static/images_cases/case_3.jpg" alt="Кейс 4">
                <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Карго – Логистика и перевозки</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Создали профессиональный профиль в соцсетях.</li>
                      <li>Разработали стратегию контента для привлечения клиентов.</li>
                      <li>Подготовили актуальные сторис с тарифами, услугами и кейсами.</li>
                      <li>Оформили отзывы для повышения доверия к сервису.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Рост количества запросов на перевозки.</li>
                      <li>Увеличение доверия к бренду.</li>
                      <li>Повышение вовлеченности и активности аудитории.</li>
                  </ul>             </div>
            </div>
            <div class="card card5 fade-in-2">
                <img src="../../static/images_cases/case_2.jpg" alt="Кейс 5">
                <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Маркетинговое агентство SD Company</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Разработали уникальный фирменный стиль.</li>
                      <li>Создали современный и удобный сайт.</li>
                      <li>Настроили таргетированную рекламу.</li>
                      <li>Разработали стратегию продвижения в соцсетях.</li>
                      <li>Сформировали контент-план для привлечения клиентов.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Увеличение количества клиентов и заявок.</li>
                      <li>Рост охватов и вовлеченности в соцсетях.</li>
                      <li>Повышение узнаваемости бренда.</li>
                      <li>Стабильный поток лидов через рекламные кампании.</li>
                  </ul>              </div>
            </div>

            <div class="card card7 fade-in-2">
              <img src="../../static/images_cases/case_13.jpg" alt="Кейс 7">
                <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Дезинфекционное агентство</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                    <li>Создали профессиональный и доверительный профиль в соцсетях.</li>
                    <li>Разработали контент-стратегию, демонстрирующую важность дезинфекции и безопасности.</li>
                    <li>Оформили актуальные сторис с примерами работ, отзывами и ответами на частые вопросы.</li>
                    <li>Настроили таргетированную рекламу для привлечения клиентов из B2B и B2C сегментов.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                    <li>Рост количества заявок на услуги дезинфекции от частных лиц и компаний.</li>
                    <li>Повышение доверия благодаря кейсам, отзывам и экспертному контенту.</li>
                    <li>Увеличение охвата и вовлеченности в соцсетях, рост активности в комментариях и сообщениях.</li>
                  </ul>
              </div>
              
          </div>
          <div class="card card8 fade-in-2">
            <img src="../../static/images_cases/case_14.jpg" alt="Кейс 7">
              <div class="card-content">
                <h2 style="font-size: 24px; text-align: left;">Проект: Магазин "Чёрный Кот"</h2>
                <h3>Что сделали:</h3>
                <ul>
                  <li>Создали стильный и запоминающийся профиль в соцсетях.</li>
                  <li>Разработали визуальную концепцию и уникальный фирменный стиль.</li>
                  <li>Подготовили контент-стратегию с упором на атмосферу и ассортимент.</li>
                  <li>Запустили таргетированную рекламу для привлечения целевой аудитории.</li>
                </ul>
                <h3>Результаты:</h3>
                <ul>
                  <li>Увеличение продаж как в онлайн, так и в офлайн-магазине.</li>
                  <li>Рост числа постоянных клиентов благодаря лояльной аудитории.</li>
                  <li>Повышение охвата и вовлечённости через интерактивы и уникальный контент.</li>
                </ul>
              </div>
            
            
        </div>
        <div class="card card3 fade-in-2">
          <img src="../../static/images_cases/case_4.jpg" alt="Кейс 3">
          <div class="card-content">
            <h2 style="font-size: 24px; text-align: left;">Проект: Барбер</h2>
            <h3>Что сделали:</h3>
            <ul>
                <li>Создали стильный и атмосферный профиль в соцсетях.</li>
                <li>Разработали визуальную концепцию и фирменный стиль.</li>
                <li>Подготовили контент-стратегию для продвижения услуг.</li>
            </ul>
            <h3>Результаты:</h3>
            <ul>
                <li>Рост количества записей и клиентов.</li>
                <li>Укрепление бренда и узнаваемости.</li>
                <li>Повышение вовлеченности аудитории.</li>
            </ul>             </div>
      </div>

        
        </div>
    </div>

    <div style="margin-top: 80px;margin-bottom: 50px;" class="main_content " id="main_content">
      <h2 class="fade-in-2">Кейсы Мобилография</h2>
    </div>
    <div class="all">
      <div class="container">
        <div class="card card-mobile fade-in-2">
          <img src="../../static/images_cases/case_33.jpg" alt="Мобилография Кейсы">
      </div>
      <div class="card card-mobile fade-in-2">
        <img src="../../static/images_cases/case_34.jpg" alt="Мобилография Кейсы">
    </div>
    <div class="card card-mobile fade-in-2">
      <img src="../../static/images_cases/case_35.jpg" alt="Мобилография Кейсы">
  </div>
  <div class="card card-mobile fade-in-2">
    <img src="../../static/images_cases/case_36.jpg" alt="Мобилография Кейсы">
</div>
<div class="card card-mobile fade-in-2">
  <img src="../../static/images_cases/case_37.jpg" alt="Мобилография Кейсы">
</div>
        
        <div class="card card-mobile fade-in-2">
          <div class="card-content">
              <h2 style="font-size: 24px; text-align: left;">Наши кейсы мобилографии</h2>
              <ul>
              <li>Все кейсы мобилографии вы можете посмотреть в нашем Instagram! Мы собрали лучшие примеры наших работ в разделе <strong>«Актуальное»</strong>, где представлены реальные фото и видео, созданные с помощью мобилографии.</li>
              <li>Перейдите по ссылке ниже, чтобы оценить качество и стиль наших проектов.</li>
            </ul>
            <center><a href="#" class="btn">Смотреть кейсы</a></center>
          </div>
      </div>
      
      </div>
  </div>
    <div style="margin-top: 80px;margin-bottom: 50px;" class="main_content " id="main_content">
      <h2 class="fade-in-2">Кейсы Сайтов</h2>
    </div>
    <div class="all">
      <div class="container-2">
          <div class="card-2 card1-2 fade-in-2">
              <img src="../../static/images_cases/case_7.jpg" alt="Кейс 1">
              <div class="card-content-2">
                <h2 style="font-size: 24px; text-align: left;">Проект: Дизайн Интерьера</h2>
                <h3>Что сделали:</h3>
                <ul>
                  <li>Разработали стильный и современный сайт для студии дизайна.</li>
                  <li>Создали визуально привлекательный профиль в соцсетях.</li>
                  <li>Подготовили контент-стратегию с акцентом на кейсы и отзывы.</li>
                  <li>Настроили таргетированную рекламу для привлечения клиентов.</li>
              </ul>
              <h3>Результаты:</h3>
              <ul>
                  <li>Увеличение числа заявок на дизайн интерьера.</li>
                  <li>Рост узнаваемости студии и привлечение новой аудитории.</li>
                  <li>Повышение вовлеченности благодаря качественному контенту.</li>
              </ul>         </div>
          </div>
          <div class="card-2 card2-2 fade-in-2">
              <img src="../../static/images_cases/case_8.jpg" alt="Кейс 2">
              <div class="card-content-2">
                <h2 style="font-size: 24px; text-align: left;">Проект: Сайт для школы</h2>
                <h3>Что сделали:</h3>
                <ul>
                    <li>Разработали удобный и информативный сайт для образовательного учреждения.</li>
                    <li>Создали интуитивно понятную навигацию для учеников, родителей и преподавателей.</li>
                    <li>Добавили разделы с расписанием, новостями, учебными материалами и контактами.</li>
                </ul>
                <h3>Результаты:</h3>
                <ul>
                    <li>Повышение удобства взаимодействия для учеников и родителей.</li>
                    <li>Увеличение посещаемости сайта и улучшение онлайн-коммуникации.</li>
                    <li>Повышение имиджа школы благодаря современному цифровому решению.</li>
                </ul>       </div>
          </div>
          <div class="card-2 card3-2 fade-in-2">
              <img src="../../static/images_cases/case_9.png" alt="Кейс 3">
              <div class="card-content-2">
                <h2 style="font-size: 24px; text-align: left;">Проект: Маркетинговое агентство</h2>
                <h3>Что сделали:</h3>
                <ul>
                    <li>Разработали фирменный стиль и уникальное позиционирование.</li>
                    <li>Создали сайт с описанием услуг, кейсами и формой заявки.</li>
                    <li>Запустили рекламные кампании для привлечения клиентов.</li>
                    <li>Разработали контент-стратегию для соцсетей.</li>
                </ul>
                <h3>Результаты:</h3>
                <ul>
                    <li>Рост количества заявок и клиентов.</li>
                    <li>Повышение узнаваемости бренда.</li>
                    <li>Увеличение конверсии сайта.</li>
                </ul>        </div>
          </div>
          <div class="card-2 card4-2 fade-in-2">
              <img src="../../static/images_cases/case_10.jpg" alt="Кейс 4">
              <div class="card-content-2">
                <h2 style="font-size: 24px; text-align: left;">Проект: Booking</h2>
                <p><em>Это учебный проект, созданный для практики и изучения веб-разработки.</em></p>
                <h3>Что сделали:</h3>
                <ul>
                    <li>Разработали удобную платформу для онлайн-бронирования.</li>
                    <li>Создали адаптивный дизайн для всех типов устройств.</li>
                    <li>Реализовали систему личных кабинетов для пользователей.</li>
                    <li>Интегрировали онлайн-оплату и систему уведомлений.</li>
                </ul>
                <h3>Результаты:</h3>
                <ul>
                  <li>Отработаны навыки создания премиального веб-дизайна.</li>
                  <li>Получен опыт работы с анимациями и адаптивной версткой.</li>
                  <li>Создан учебный проект, приближенный к реальному коммерческому сайту.</li>
                </ul>        </div>
          </div>
          <div class="card-2 card5-2 fade-in-2">
              <img src="../../static/images_cases/case_11.jpg" alt="Кейс 5">
              <div class="card-content-2">
                <h2 style="font-size: 24px; text-align: left;">Проект: Сайт магазина окон и балконов</h2>
                <h3>Что сделали:</h3>
                <ul>
                    <li>Разработали современный и удобный сайт для магазина окон и балконов.</li>
                    <li>Создали каталог продукции с подробными описаниями.</li>
                    <li>Настроили калькулятор расчета стоимости услуг.</li>
                    <li>Настроили таргетированную рекламу для привлечения клиентов.</li>
                </ul>
                <h3>Результаты:</h3>
                <ul>
                    <li>Рост трафика на сайт и увеличение числа заявок.</li>
                    <li>Упрощение процесса подбора и заказа продукции для клиентов.</li>
                    <li>Повышение узнаваемости бренда и доверия аудитории.</li>
                </ul>        </div>
          </div>
          <div class="card-2 card6-2 fade-in-2">
              <img src="../../static/images_cases/case_12.jpg" alt="Кейс 6">
              <div class="card-content-2">
                <h2 style="font-size: 24px; text-align: left;">Проект: Учебный сайт Apple</h2>
                <p><em>Этот проект был создан для изучения веб-дизайна и UI/UX, вдохновленный официальным сайтом Apple.</em></p>

                <h3>Что сделали:</h3>
                <ul>
                    <li>Разработали современный и минималистичный дизайн.</li>
                    <li>Создали интерактивные анимации и параллакс-эффекты.</li>
                    <li>Адаптировали сайт под мобильные устройства.</li>
                    <li>Реализовали динамические блоки с информацией о продуктах.</li>
                </ul>
                <h3>Результаты:</h3>
                <ul>
                    <li>Отработаны навыки создания премиального веб-дизайна.</li>
                    <li>Получен опыт работы с анимациями и адаптивной версткой.</li>
                    <li>Создан учебный проект, приближенный к реальному коммерческому сайту.</li>
                </ul>       </div>
          </div>
      </div>
  </div>
  <div style="margin-top: 80px;margin-bottom: 50px;" class="main_content " id="main_content">
    <h2 class="fade-in-2">Кейсы Таргета</h2>
  </div>
  <div class="all">
    <div class="container">
      <div class="card card11 fade-in-2">
        <img src="../../static/images_cases/case_17.jpg" alt="Кейс Таргет">
          <div class="card-content">
            <h2 style="font-size: 24px; text-align: left;">Кейс: Таргетированная реклама</h2>
            <h3>Что сделали:</h3>
            <ul>
              <li>Провели анализ ниши и целевой аудитории для точной настройки рекламы.</li>
              <li>Создали цепляющие креативы и текстовые объявления.</li>
              <li>Настроили рекламные кампании на Facebook, Instagram </li>
            </ul>
            <h3>Результаты:</h3>
            <ul>
              <li>43000 просмотров и 10000 охваченных аккаунтов.</li>
              <li>Увеличили количество заявок и конверсий уже в первые недели.</li>
              <li>Рост узнаваемости бренда среди целевой аудитории.</li>
            </ul>
          </div>
      </div>

      <div class="card card12 fade-in-2">
        <img src="../../static/images_cases/case_18.jpg" alt="Кейс Таргет">
          <div class="card-content">
            <h2 style="font-size: 24px; text-align: left;">Кейс: Таргетированная реклама</h2>
            <h3>Что сделали:</h3>
            <ul>
              <li>Провели анализ ниши и целевой аудитории для точной настройки рекламы.</li>
              <li>Настроили рекламные кампании на Facebook, Instagram </li>
            </ul>
            <h3>Результаты:</h3>
            <ul>
              <li>80000 просмотров и 18000 охваченных аккаунтов.</li>
              <li>Увеличили количество заявок и конверсий уже в первые недели.</li>
              <li>Рост узнаваемости бренда среди целевой аудитории.</li>
            </ul>
          </div>
      </div>
      

    </div>
</div>
    <footer>
      <div class="footer-content">
        <!-- Навигация -->
        <div id="footer_del" class="footer-section navigation">
          <h3>Навигация</h3>
          <ul>
            <li><a href="../../index.html">Главная</a></li>
            <li><a href="../cases/cases.html">Кейсы и портфолио</a></li>
            <li><a href="../teem/teem.html">Команда</a></li>
            <li><a href="../contacts/contacts.html">Контакты</a></li>
          </ul>
        </div>

        <!-- Услуги -->
        <div id="footer_del" class="footer-section services">
          <h3>Услуги</h3>
          <ul>
            <li><a href="../services/targer.html">Таргет</a></li>
            <li><a href="../services/marketing.html">Маркетинг</a></li>
            <li><a href="../services/smm.html">SMM</a></li>
            <li><a href="../services/site.html">Создание сайтов</a></li>
            <li><a href="../services/tg_bot.html">Создание тг ботов</a></li>
            <li><a href="../services/individual.html">Индивидуальный заказ</a></li>
          </ul>
        </div>

        <!-- Контакты -->
        <div class="footer-section contact">
          <h3>Контакты</h3>
          <p><a href="tel:+77083641047">+7 (708) 364-10-47</a></p>
          <p>
            <a href="mailto:stanislavdenisovich5@gmail.com"
              >stanislavdenisovich5@gmail.com</a
            >
          </p>

          <div class="footer-socials">
            <a href="https://www.instagram.com/sdcompany.kz?igsh=bWhnOXo2bTNyYWsz&utm_source=qr" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuH7c5cLpGehi0b4iQk90fXUzC9p7Ebla13w&s" alt="Instagram"></a>
            <a href="https://api.whatsapp.com/send?phone=87083641047" target="_blank"><img src="https://pngicon.ru/file/uploads/whatsapp.png" alt="WhatsApp"></a>
        </div>
        </div>
        <!-- Telegram-бот с кнопкой -->
        <div id="telegram-bot-section" class="footer-bot">
          <h3>📩 Быстрый способ связаться с нами</h3>
          <p class="highlight-target">
            Запустите нашего Telegram-бота и получите консультацию в 1 клик!
          </p>
          <div
            id="bh-widget-button-root"
            data-bh-widget-id="2"
            data-bh-customer-id="496152"
          ></div>
        </div>
      </div>

      <div class="footer-bottom">
        <p>© 2025 SD Company. Все права защищены.</p>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="../../static/js/first_page.js" defer></script>
  </body>
</html>
