<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/header.css" />
    <link rel="stylesheet" href="../../static/css/footer.css" />
    <link rel="stylesheet" href="../../static/cases/cases.css" />
    <link rel="stylesheet" href="../../static/css/first_page_4.css" />
    <link rel="stylesheet" href="../../static/css/first_page_2.css" />
    <link rel="stylesheet" href="../../static/css/first_page.css" />
    <script src="https://main.bothelp.io/w/widget-button.js" defer></script>
    <title>Портфолио</title>
  </head>
  <body>
    <header id="header">
      <div class="header-content">
        <div>
          <img src="../../static/images/sd.png" alt="SD Company" />
        </div>
        <nav>
          <ul>
            <li><a href="../../index.html">Главная</a></li>
            <li><a href="../cases/cases.html">Кейсы и портфолио</a></li>
            <li><a href="../teem/teem.html">Команда</a></li>
            <li><a href="../contacts/contacts.html">Контакты</a></li>
            <li class="dropdown">
              <a href="#">Услуги ▼</a>
              <ul class="dropdown-menu">
                <li><a href="../services/targer.html">Таргет</a></li>
                <li><a href="../services/marketing.html">Маркетинг</a></li>
                <li><a href="../services/smm.html">SMM</a></li>
                <li><a href="../services/site.html">Создание сайтов</a></li>
                <li><a href="../services/tg_bot.html">Создание тг ботов</a></li>
                <li><a href="../services/individual.html">Индивидуальный заказ</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- Бургер-кнопка -->
    <div class="burger-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- Мобильное меню -->
    <nav class="mobile-nav">
      <ul>
        <li><a href="../../index.html">Главная</a></li>
        <li><a href="../cases/cases.html">Кейсы и портфолио</a></li>
        <li><a href="../teem/teem.html">Команда</a></li>
        <li><a href="../contacts/contacts.html">Контакты</a></li>

        <li><a href="../services/targer.html">Таргет</a></li>
        <li><a href="../services/marketing.html">Маркетинг</a></li>
        <li><a href="../services/smm.html">SMM</a></li>
        <li><a href="../services/site.html">Создание сайтов</a></li>
        <li><a href="../services/tg_bot.html">Создание тг ботов</a></li>
        <li><a href="../services/individual.html">Индивидуальный заказ</a></li>
      </ul>
    </nav>
    <div class="tabs-section fade-in-2">

    <div style="margin-top: 20px;" class="main_content " id="main_content">
        <h2 class="fade-in-2">Кейсы Инстаграмм</h2>
      </div>
      <div class="all">
        <div class="container">
            <div class="card card1 fade-in-2">
                <img src="../../static/images_cases/case_6.jpg" alt="Кейс 1">
                <div class="card-content">
                    <h2 style="font-size: 24px; text-align: left;">Проект: GazWay – Газификация под ключ</h2>
                    <h3>Что сделали:</h3>
                    <ul>
                        <li>Оформили стильный профиль в соцсетях.</li>
                        <li>Разработали контент-стратегию.</li>
                        <li>Создали актуальные сторис и кейсы.</li>
                    </ul>
                    <h3>Результаты:</h3>
                    <ul>
                        <li>Рост вовлеченности и заявок.</li>
                        <li>Укрепление имиджа компании.</li>
                    </ul>                </div>
            </div>
            <div class="card card2 fade-in-2">
                <img src="../../static/images_cases/case_5.jpg" alt="Кейс 2">
                <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Oknatech – Установка и ремонт окон</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                    <li>Оформили профессиональный профиль в соцсетях.</li>
                    <li>Разработали стратегию контента для привлечения клиентов.</li>
                    <li>Создали актуальные сторис с ключевой информацией.</li>
                    <li>Подготовили кейсы и отзывы для повышения доверия.</li>
                </ul>
                <h3>Результаты:</h3>
                <ul>
                    <li>Увеличение вовлеченности и числа заявок.</li>
                    <li>Повышение доверия к бренду.</li>
                    <li>Усиление имиджа компании.</li>
                </ul>               </div>
            </div>
            <div class="card card3 fade-in-2">
                <img src="../../static/images_cases/case_4.jpg" alt="Кейс 3">
                <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Барбер – Барбершоп</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Создали стильный и атмосферный профиль в соцсетях.</li>
                      <li>Разработали визуальную концепцию и фирменный стиль.</li>
                      <li>Подготовили контент-стратегию для продвижения услуг.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Рост количества записей и клиентов.</li>
                      <li>Укрепление бренда и узнаваемости.</li>
                      <li>Повышение вовлеченности аудитории.</li>
                  </ul>             </div>
            </div>
            <div class="card card4 fade-in-2">
                <img src="../../static/images_cases/case_3.jpg" alt="Кейс 4">
                <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">роект: Карго – Логистика и перевозки</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Создали профессиональный профиль в соцсетях.</li>
                      <li>Разработали стратегию контента для привлечения клиентов.</li>
                      <li>Подготовили актуальные сторис с тарифами, услугами и кейсами.</li>
                      <li>Оформили отзывы для повышения доверия к сервису.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Рост количества запросов на перевозки.</li>
                      <li>Увеличение доверия к бренду.</li>
                      <li>Повышение вовлеченности и активности аудитории.</li>
                  </ul>             </div>
            </div>
            <div class="card card5 fade-in-2">
                <img src="../../static/images_cases/case_2.jpg" alt="Кейс 5">
                <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Маркетинговое агентство SD Company</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Разработали уникальный фирменный стиль.</li>
                      <li>Создали современный и удобный сайт.</li>
                      <li>Настроили таргетированную рекламу.</li>
                      <li>Разработали стратегию продвижения в соцсетях.</li>
                      <li>Сформировали контент-план для привлечения клиентов.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Увеличение количества клиентов и заявок.</li>
                      <li>Рост охватов и вовлеченности в соцсетях.</li>
                      <li>Повышение узнаваемости бренда.</li>
                      <li>Стабильный поток лидов через рекламные кампании.</li>
                  </ul>              </div>
            </div>
            <div class="card card6 fade-in-2">
                <img src="../../static/images_cases/case_1.jpg" alt="Кейс 6">
                <div class="card-content">
                  <h2 style="font-size: 24px; text-align: left;">Проект: Ведический астролог</h2>
                  <h3>Что сделали:</h3>
                  <ul>
                      <li>Создали уникальный и эстетичный профиль в соцсетях.</li>
                      <li>Разработали контент-стратегию для привлечения целевой аудитории.</li>
                      <li>Оформили актуальные сторис с услугами, отзывами и разбором карт.</li>
                      <li>Настроили таргетированную рекламу для увеличения числа клиентов.</li>
                  </ul>
                  <h3>Результаты:</h3>
                  <ul>
                      <li>Рост числа консультаций и заказов на разбор карт.</li>
                      <li>Повышение доверия аудитории благодаря профессиональному контенту.</li>
                      <li>Увеличение охвата и вовлеченности в соцсетях.</li>
                  </ul>              </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 80px;margin-bottom: 50px;" class="main_content " id="main_content">
      <h2 class="fade-in-2">Кейсы Сайтов</h2>
    </div>
    <div class="all">
      <div class="container-2">
          <div class="card-2 card1-2 fade-in-2">
              <img src="../../static/images_cases/case_7.jpg" alt="Кейс 1">
              <div class="card-content-2">
                <h2 style="font-size: 24px; text-align: left;">Проект: Дизайн Интерьера</h2>
                <h3>Что сделали:</h3>
                <ul>
                  <li>Разработали стильный и современный сайт для студии дизайна.</li>
                  <li>Создали визуально привлекательный профиль в соцсетях.</li>
                  <li>Подготовили контент-стратегию с акцентом на кейсы и отзывы.</li>
                  <li>Настроили таргетированную рекламу для привлечения клиентов.</li>
              </ul>
              <h3>Результаты:</h3>
              <ul>
                  <li>Увеличение числа заявок на дизайн интерьера.</li>
                  <li>Рост узнаваемости студии и привлечение новой аудитории.</li>
                  <li>Повышение вовлеченности благодаря качественному контенту.</li>
              </ul>         </div>
          </div>
          <div class="card-2 card2-2 fade-in-2">
              <img src="../../static/images_cases/case_8.jpg" alt="Кейс 2">
              <div class="card-content-2">
                <h2 style="font-size: 24px; text-align: left;">Проект: Сайт для школы</h2>
                <h3>Что сделали:</h3>
                <ul>
                    <li>Разработали удобный и информативный сайт для образовательного учреждения.</li>
                    <li>Создали интуитивно понятную навигацию для учеников, родителей и преподавателей.</li>
                    <li>Добавили разделы с расписанием, новостями, учебными материалами и контактами.</li>
                </ul>
                <h3>Результаты:</h3>
                <ul>
                    <li>Повышение удобства взаимодействия для учеников и родителей.</li>
                    <li>Увеличение посещаемости сайта и улучшение онлайн-коммуникации.</li>
                    <li>Повышение имиджа школы благодаря современному цифровому решению.</li>
                </ul>       </div>
          </div>
          <div class="card-2 card3-2 fade-in-2">
              <img src="../../static/images_cases/case_9.png" alt="Кейс 3">
              <div class="card-content-2">
                <h2 style="font-size: 24px; text-align: left;">Проект: Маркетинговое агентство</h2>
                <h3>Что сделали:</h3>
                <ul>
                    <li>Разработали фирменный стиль и уникальное позиционирование.</li>
                    <li>Создали сайт с описанием услуг, кейсами и формой заявки.</li>
                    <li>Запустили рекламные кампании для привлечения клиентов.</li>
                    <li>Разработали контент-стратегию для соцсетей.</li>
                </ul>
                <h3>Результаты:</h3>
                <ul>
                    <li>Рост количества заявок и клиентов.</li>
                    <li>Повышение узнаваемости бренда.</li>
                    <li>Увеличение конверсии сайта.</li>
                </ul>        </div>
          </div>
          <div class="card-2 card4-2 fade-in-2">
              <img src="../../static/images_cases/case_10.jpg" alt="Кейс 4">
              <div class="card-content-2">
                <h2 style="font-size: 24px; text-align: left;">Проект: Букинг</h2>
                <p><em>Это учебный проект, созданный для практики и изучения веб-разработки.</em></p>
                <h3>Что сделали:</h3>
                <ul>
                    <li>Разработали удобную платформу для онлайн-бронирования.</li>
                    <li>Создали адаптивный дизайн для всех типов устройств.</li>
                    <li>Реализовали систему личных кабинетов для пользователей.</li>
                    <li>Интегрировали онлайн-оплату и систему уведомлений.</li>
                </ul>
                <h3>Результаты:</h3>
                <ul>
                    <li>Автоматизация процесса бронирования.</li>
                    <li>Повышение конверсии за счет удобного интерфейса.</li>
                    <li>Рост числа бронирований и удовлетворенность пользователей.</li>
                </ul>        </div>
          </div>
          <div class="card-2 card5-2 fade-in-2">
              <img src="../../static/images_cases/case_11.jpg" alt="Кейс 5">
              <div class="card-content-2">
                <h2 style="font-size: 24px; text-align: left;">Проект: Сайт магазина окон и балконов</h2>
                <h3>Что сделали:</h3>
                <ul>
                    <li>Разработали современный и удобный сайт для магазина окон и балконов.</li>
                    <li>Создали каталог продукции с подробными описаниями.</li>
                    <li>Настроили калькулятор расчета стоимости услуг.</li>
                    <li>Настроили таргетированную рекламу для привлечения клиентов.</li>
                </ul>
                <h3>Результаты:</h3>
                <ul>
                    <li>Рост трафика на сайт и увеличение числа заявок.</li>
                    <li>Упрощение процесса подбора и заказа продукции для клиентов.</li>
                    <li>Повышение узнаваемости бренда и доверия аудитории.</li>
                </ul>        </div>
          </div>
          <div class="card-2 card6-2 fade-in-2">
              <img src="../../static/images_cases/case_12.jpg" alt="Кейс 6">
              <div class="card-content-2">
                <h2 style="font-size: 24px; text-align: left;">Проект: Учебный сайт Apple</h2>
                <p><em>Этот проект был создан для изучения веб-дизайна и UI/UX, вдохновленный официальным сайтом Apple.</em></p>

                <h3>Что сделали:</h3>
                <ul>
                    <li>Разработали современный и минималистичный дизайн.</li>
                    <li>Создали интерактивные анимации и параллакс-эффекты.</li>
                    <li>Адаптировали сайт под мобильные устройства.</li>
                    <li>Реализовали динамические блоки с информацией о продуктах.</li>
                </ul>
                <h3>Результаты:</h3>
                <ul>
                    <li>Отработаны навыки создания премиального веб-дизайна.</li>
                    <li>Получен опыт работы с анимациями и адаптивной версткой.</li>
                    <li>Создан учебный проект, приближенный к реальному коммерческому сайту.</li>
                </ul>       </div>
          </div>
      </div>
  </div>
    <footer>
      <div class="footer-content">
        <!-- Навигация -->
        <div id="footer_del" class="footer-section navigation">
          <h3>Навигация</h3>
          <ul>
            <li><a href="../../index.html">Главная</a></li>
            <li><a href="../cases/cases.html">Кейсы и портфолио</a></li>
            <li><a href="../teem/teem.html">Команда</a></li>
            <li><a href="../contacts/contacts.html">Контакты</a></li>
          </ul>
        </div>

        <!-- Услуги -->
        <div id="footer_del" class="footer-section services">
          <h3>Услуги</h3>
          <ul>
            <li><a href="../services/targer.html">Таргет</a></li>
            <li><a href="../services/marketing.html">Маркетинг</a></li>
            <li><a href="../services/smm.html">SMM</a></li>
            <li><a href="../services/site.html">Создание сайтов</a></li>
            <li><a href="../services/tg_bot.html">Создание тг ботов</a></li>
            <li><a href="../services/individual.html">Индивидуальный заказ</a></li>
          </ul>
        </div>

        <!-- Контакты -->
        <div class="footer-section contact">
          <h3>Контакты</h3>
          <p><a href="tel:+77083641047">+7 (708) 364-10-47</a></p>
          <p>
            <a href="mailto:stanislavdenisovich5@gmail.com"
              >stanislavdenisovich5@gmail.com</a
            >
          </p>

          <div class="footer-socials">
            <a href="#" target="_blank"
              ><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuH7c5cLpGehi0b4iQk90fXUzC9p7Ebla13w&s"
                alt="Instagram"
            /></a>
            <a href="#" target="_blank"
              ><img
                src="https://pngicon.ru/file/uploads/whatsapp.png"
                alt="WhatsApp"
            /></a>
          </div>
        </div>
        <!-- Telegram-бот с кнопкой -->
        <div id="telegram-bot-section" class="footer-bot">
          <h3>📩 Быстрый способ связаться с нами</h3>
          <p class="highlight-target">
            Запустите нашего Telegram-бота и получите консультацию в 1 клик!
          </p>
          <div
            id="bh-widget-button-root"
            data-bh-widget-id="2"
            data-bh-customer-id="496152"
          ></div>
        </div>
      </div>

      <div class="footer-bottom">
        <p>© 2025 SD Company. Все права защищены.</p>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="../../static/js/first_page.js" defer></script>
  </body>
</html>
